{% extends "core/base.html" %} {%block header %}
<div class="text-center" style="margin-top: -120px; margin-bottom: 60px">
      <h1>Acompanhe seu aprendizado</h1>
</div>
{%endblock header %} {% block content %} {% if user.is_authenticated %}

<h2>Menos bagunça, mais foco. Comece agora e leve sua rotina universitária a outro nível!</h2>

{% else %}
<h2>
      <a href="{% url 'register'%}">Crie uma conta</a>
      ou
      <a href="{% url 'login' %}">faça login</a>
      para utilizar o Tarefado!
</h2>

<h2>Menos bagunça, mais foco. Comece agora e leve sua rotina universitária a outro nível!</h2>

{% endif %} {% endblock content %}
